<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83780973929-jv8j8e921r4cj7r0kpjp395a2gjdhvd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83780973929-jv8j8e921r4cj7r0kpjp395a2gjdhvd6</string>
	<key>API_KEY</key>
	<string>AIzaSyBTzBoQJsJjuKlrx5nKSZwor7I6HDtYVew</string>
	<key>GCM_SENDER_ID</key>
	<string>83780973929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medibot.telemedicine-app</string>
	<key>PROJECT_ID</key>
	<string>medibot-b4a6c</string>
	<key>STORAGE_BUCKET</key>
	<string>medibot-b4a6c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83780973929:ios:16c318dfe2f716659079f8</string>
</dict>
</plist>